version: '3'
services:
  registry:
    image: registry:2
    container_name: my-registry
    ports:
      - "5000:5000"
    volumes:
      - /opt/registry:/var/lib/registry
    restart: unless-stopped